.logo-icon {
    float: left;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 10px;
    img {
      display: block;
      margin: auto;
      width: 100%;
      max-width: 40px;
    }
  }
  .page-header {
    float: left;
    width: 100%;
    padding: 25px;
    background-color: #fceeff;
    border-bottom: 2px solid #9ad2d1;
    &.dashboard {
      background-color: #f8aec4;
      border-bottom: 2px solid #9ad2d1;
      h2 {
        color: #fceeff;
      }
    }
    &.users {
      border-bottom: 2px solid #f8aec4;
      background-color: #d8f8ff;
      h2 {
        color: #000;
      }
    }
    h2 {
      float: left;
    }
    .page-actions {
      float: right;
      .workshop-add-btn {
        background-color: #9ad2d1;
        border-radius: 20px;
        &:hover {
          background-color: #b0d9eb;
        }
      }
    }
  }
  .list-icon > div{
    min-width: initial;
    padding: 10px;
  }
  div.workshop-dialog > div > div:first-child {
    min-width: 550px;
  }
  div.selected-menu {
    background-color: #9ad2d1;
    &.users {
      background-color: #f8aec4;
      &:hover {
        background-color: #f8aec4;
        svg {
          color: #fff;
        }
      }
    }
    &:hover {
      background-color: #9ad2d1;
      svg {
        color: #fff;
      }
    }
    svg {
      color: #fff;
    }
  }
  .loading-container {
    float: left;
    padding: 10px 25px;
  }
  .dash-data {
    float: left;
    width: 100%;
    padding: 20px;
  }
  button.count-icon {
    min-width: 200px;
    float: left;
    margin: 10px;
    padding: 20px;
    display: block;
    h3 {
      font-weight: 900;
      text-align: center;
      float: left;
      margin-bottom: 10px;
      width: 100%;
      float: left;
      width: 100%;
    }
    h1 {
      text-align: center;
      font-size: 50px;
      float: left;
      width: 100%;
    }
    &.workshops {
      border: 5px solid #f8aec4;
      h1,h3 {
        color: #f8aec4;
      }
      &:hover {
        background-color: #f8aec4;
        h1,h3 {
          color: #fff;
        }
      }
    }
  }
  .table-holder {
    padding: 20px;
    float: left;
    width: 100%;
  }
  .workshop-dialog-form {
    .input-table {
      margin-bottom: 10px;
      .workshop-leader {
        margin-right: 20px;
      }
      .datetime-field-container {
        margin-top: 40px;
        > div:nth-child(odd) {
          margin-right: 20px;
        }
      }
      .tag-field-container {
        margin-top: 40px;
        > div:nth-child(odd) {
          margin-right: 20px;
        }
      }
      .color-field-container {
        display: block;
        margin-top: 40px;
        margin-bottom: 28px;
        .color-field {
          margin-bottom: 12px;
        }
        > div {
          display: inline-block;
          width: 50%;
        }
      }
      .input-cell {
        text-align: center;
        vertical-align: middle;
        width: 48%;
        margin-bottom: 10px;
        &.add-more {
          margin-top: 4px;
          text-align: left;
          cursor: pointer;
          > svg {
            display: inline-block;
            vertical-align: middle;
            width: 16px;
          }
          > p {
            display: inline-block;
            font-size: 12px;
          }
        }
      }
    }
  }
  .status-dropdown {
    min-width: 150px;
  }
  th.table-header-text {
    font-size: 12px;
    white-space: nowrap;
  }
  
  .drop-uploader-wrap {
    margin-top: 20px;
  }

  .drop-new-wrap {
    height: 125px;
    background-color: #EBEBEB;
    position: relative;
  }

  .drop-existing-wrap {
    position: relative;
  }

  .image-preview {
    position: absolute;
    bottom: 60px;
  }
  
  .drop-photo-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  
  
  